.anchor

# Build artifacts
/dist
/build
/out

# Local Environment Variables
.env.local
.env.*.local

# IDE files
.idea
.vscode
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.vscode
*.csv
/tmp
